<!DOCTYPE html>

<style>  
        
        h1{
            
            color: blue;
            background-color: rgb(200,200,200);
            text-align: center;
            font-size: 90px; 
            font-family: 'Times New Roman',Times,serif;       
        }
        b1{
            background-color: rgb(200,200,200);
            font-size: 40px; 
            margin: 60px;
        }
        button{

            background-color: rgb(200,200,200);
            font-size: 40px;
            margin: 60px;
        }
        button:hover{
                background-color: white;
        }
        button:active{
                background-color: rgb(183, 138, 224);

        }

    </style>   